* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Background */
body {
  color: #fff;
  background: linear-gradient(45deg,red,blue,green,black);
  background-size:cover;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}
.navegador{
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  padding: 20px;
  background-image: url(/img/fondo.jpg);
  border: solid black 10px;
  border-radius: 10px;
}
.navegador div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Establece la altura al 100% para que ocupe todo el espacio disponible */
  gap: 10px; /* Establece el espacio entre los elementos */
}
.navegador a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  border-radius: 10px;
  transition: all 0.3s ease; /* Agrega una transición para dar una animación suave */
}

.navegador a:hover {
  transform: translateY(-5px); /* Agrega una animación de levantamiento cuando el cursor pasa sobre los elementos */
}

/* Accesos */
.accesos {
  display: grid;
  grid-template-columns: 50%;
}

.contenedor {
  display: flex;
 border: black solid 4px;
  flex-wrap: wrap;
}

.imagen {
  width: 400px;
  height: 300px;
  object-fit: scale-down;
  margin: 10px;
  border: solid black 10px;

}
/* Títulos */
h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  border: solid 3px #fff;
  border-radius: 25px;
  text-align: center;
  margin-top: 5px;
}
.titulo-h2 {
  margin-top: 50px;
}

h3, h4 {
  text-align: center;
  border-bottom: 1px solid black;
}

#subtitulos {
  text-align: center;
  border-bottom: 1px solid black;
  border-style: double;
}

/* Tema de la página */
.tema-pagina {
  text-align: justify;
  margin: 5%;
  padding: 5%;
  text-justify: distribute-all-lines;
}

#div-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-central ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

#div-central ul li {
  margin-bottom: 10px;
}

#div-central img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
}

/* Menú de artículos */
#menuArticulos {
  position: relative;
  border:#fff;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}