* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%
}
.encabezado {
  background-color: #fff; 
  font-family: Roboto,sans-serif;
  height: 50px;
  position: relative;
  width: 100%;
  align-items: center;
display: block;
}


.navegador{
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  padding: 20px;
  background-image: url(/img/fondo.jpg);
  border: solid black 10px;
  border-radius: 10px;
}
.navegador div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Establece la altura al 100% para que ocupe todo el espacio disponible */
  gap: 10px; /* Establece el espacio entre los elementos */
}

.navegador a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease; /* Agrega una transición para dar una animación suave */
}
.navegador a:hover {
  transform: translateY(-5px); /* Agrega una animación de levantamiento cuando el cursor pasa sobre los elementos */
}

/* Accesos */
.accesos {
  display: grid;
  grid-template-columns: 50%;
}

.contenedor {
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  max-width: 120em;
  background-color: rgb(255, 255, 255);
}
.slider-wrapper{
position: relative;
max-width: 600px;
margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  scroll-snap-type: x mandatory;
scroll-behavior: smooth;
box-shadow: 0 .25rem .5rem #21212126;
border-radius: .5rem;
}
.slider img {
  object-fit: scale-down;
  margin: 10px;
  flex: 1 0 100%;
  scroll-snap-align: start;
border-radius: 3%;
}
.slider-nav{
display: flex;
column-gap: 1rem;
position: absolute;
bottom: 5%;
left: 50%;
transform: translateX(-50%);
z-index: 1;
}
.slider-nav a{
width: .5rem;
height: .5rem;
border-radius: 50%;
background-color: #000000;
opacity: .75;
transition: opacity ease 250ms;
}
.slider-nav a:hover{
opacity: 1;
}
.imagen {
  width: 400px;
  height: 300px;
  object-fit: scale-down;
  margin: 10px;
  border: solid black 5px;
}
/* Títulos */
h1 {
  margin: 3%;
  font-size: 4rem;
  letter-spacing: 2px;
  border: solid 3px #000000;
  border-radius: 25px;
  text-align: center;

}
h3, h4 {
  text-align: center;
  margin: 2%;
}

#subtitulos {
  margin: 5%;
  text-align: center;
  border-bottom: 1px solid black;
  border-style: double;
}

/* Tema de la página */
.tema-pagina {
  text-align: justify;
  margin: 5%;
  padding: 5%;
  text-justify: distribute-all-lines;
}

#div-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-central ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

#div-central ul li {
  margin-bottom: 10px;
}

#div-central img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
}
#menuNav {
  background-color: #5f5b5b;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}
.nav{
  color: #000;
  text-decoration: none;
  padding: 5px;
  transition: background-color 1.5s;
  border-radius: 25px;
  margin: 2px;
}
a {
  color: royalblue;
  text-decoration: none;
  padding: 5px;
  transition: background-color 1.5s;
  border-radius: 25px;
  margin: 2px;
}

a:hover {
  color: #fff;
  background-color: #3e3481;
}

#menu-toggle {
  display: none;
}

label {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  label {
    display: block;
  }
}

  /* Menú de artículos */
  #menuArticulos {
    position: relative;
    border: solid black 1px;
  }
  #etiquetas {
    display: inline-block;
    margin-right: 20px;
  }
  .desplegable {
    position: relative;
    cursor: pointer;
    margin: 2%;
  }
  
  .contenido {
    display: none;
    position: relative;
    background-color: #b1b1b1;
    border: 1px solid #1a1919;
    border-radius: 25px;
    padding: 3%;
    transition: all 0.2s ease;
  }

  .desplegable:hover .contenido {
      display: block;
      top: 100%;
      margin: 3%;
    }

  .texto{
    padding: 1%;
    color: #000000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  .video iframe{
  display: block;
  margin: 0 auto;
  }
  
  #formulario{
    margin-bottom: 20px;
  }
  
  label  {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #Comentarios {
    margin-top: 20px;
  }
  
  #ListaComentarios li {
    margin-bottom: 10px;
    list-style: none;
  }
.textoColumnas{
  display: flex;
  justify-content: space-between;
}
.columnas{
 flex-basis: 30%;
}

