* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%
}
.encabezado {
  background-color: #fff; 
  height: 50px;
  position: relative;
  width: 100%;
  align-items: center;
display: block;
}

.container { /* estilo para FAQ*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: auto;
}
.pregunta_encabezado h3 {
	font-size: 1.5rem;
	margin: 0;
	cursor: pointer;
}
.pregunta {/* estilo para FAQ*/
	margin: 10px;
	max-width: 500px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1rem;
}
.respuesta { /* estilo para FAQ*/
	height: 0;
	opacity: 0;
}

.respuesta.activo { /* estilo para FAQ*/
	height: auto;
	opacity: 1;
}
.contenedor { /* estilos para carrusel*/
  display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: auto;
    position: relative;
    height: auto;
}
.imagen { /* estilos para carrusel*/
  max-width: 50%;
  max-height:50%;
  margin: 10px;
  
}
.botones{ /* estilos para carrusel*/
font-size: 30px;
width: 70px;
height: 70px;
line-height: 70px;
border-radius: 50%;
background-color: rgba(0, 0, 0, .7);
text-align: center;
font-weight: bold;
position: absolute;
color:#fff;
box-shadow: 0 0 10px rgba(255, 255, 255, .6);
-webkit-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

.botones:hover{ /* estilos para carrusel*/
  cursor: pointer;
  transform: scale(1.2,1.2);
}
.atras{ /* estilos para carrusel*/
  left: 2%;
  top:calc(50% - 70px);
}
.adelante{ /* estilos para carrusel*/
  right: 2%;
  top:calc(50% - 70px);
}

/* Títulos */
h1 {
  margin: 3%;
  font-size: 4rem;
  letter-spacing: 2px;
  border: solid 3px #000000;
  border-radius: 25px;
  text-align: center;

}
h3, h4 {
  text-align: center;
  margin: 2%;
}

#subtitulos { /*Estilo para subtitulos*/
  margin: 5%;
  text-align: center;
  border-bottom: 1px solid black;
  border-style: double;
}

/* Tema de la página */
.tema-pagina {
  text-align: justify;
  margin: 5%;
  padding: 5%;
  text-justify: distribute-all-lines;
}

#div-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-central ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

#div-central ul li {
  margin-bottom: 10px;
}

#div-central img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
}
#menuNav {
  background-color: #5f5b5b;
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}
.nav{
  color: #000;
  text-decoration: none;
  padding: 5px;
  transition: background-color 1.5s;
  border-radius: 25px;
  margin: 2px;
}
a {
  color: royalblue;
  text-decoration: none;
  padding: 5px;
  transition: background-color 1.5s;
  border-radius: 25px;
  margin: 2px;
}

a:hover {
  color: #fff;
  background-color: #3e3481;
}

  #etiquetas {
    display: inline-block;
    margin-right: 20px;
  }
  .desplegable {
    position: relative;
    cursor: pointer;
    margin: 2%;
  }
  
  .contenido {
    display: none;
    position: relative;
    background-color: #b1b1b1;
    border: 1px solid #1a1919;
    border-radius: 25px;
    padding: 3%;
    transition: all 0.2s ease;
  }

  .desplegable:hover .contenido {
      display: block;
      top: 100%;
      margin: 3%;
    }

  .texto{
    padding: 1%;
    color: #000000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  .video iframe{
  display: block;
  margin: 0 auto;
  }
  
  #formulario{
    margin-bottom: 20px;
  }
  
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #Comentarios {
    margin-top: 20px;
  }
  
  #ListaComentarios li {
    margin-bottom: 10px;
    list-style: none;
  }
.textoColumnas{
  display: flex;
  justify-content: space-between;
}
.columnas{
 flex-basis: 30%;
}

.titulo-h2 {
  color: blue;
}
